.fullSection {
  position: relative;
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: url("../../assets/images/png-1.webp") center/cover no-repeat;
}

.fullSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(231, 231, 231, 0.7);
  z-index: 1;
}

.fullSection * {
  position: relative;
  z-index: 2;
}

.section2 {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  gap: 60px;
  max-width: 1200px;
}

.section2-left {
  flex-basis: 55%;
  text-align: left;
}

.section2 h2 {
  font-weight: 700;
  font-size: 36px;
  color: #111;
  margin-bottom: 10px;
}

.section2 h3 {
  color: #00adef;
  font-size: 18px;
  margin-bottom: 25px;
}

.section2 p {
  color: #222;
  font-size: 15px;
  line-height: 1.8;
  max-width: 550px;
  margin-bottom: 25px;
  text-align: justify;
}

.mision-btn {
  display: inline-block;
  text-decoration: none;
  color: #111;
  border-bottom: 2px solid #00adef;
  font-weight: 600;
  transition: 0.3s ease;
}

.mision-btn:hover {
  color: #00adef;
}

.section2-right {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}

.section2-img {
  width: 100%;
  max-width: 520px;
  padding-top: 60px;
}

@media (max-width: 768px) {
  .section2 {
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
  }

  .section2-left p {
    text-align: left;
    max-width: 90%;
  }

  .section2-img {
    max-width: 85%;
  }
}
